[SddmGreeterTheme]
Name=Breath Custom
Description=Breath Custom Theme
Description[ast]=Tema Breath Custom
Description[bs]=Breath Custom Tema
Description[ca]=Tema Breath Custom
Description[ca@valencia]=Tema Breath Custom
Description[cs]=Motiv Breath Custom
Description[da]=Breath Custom-temaet
Description[de]=Breath Custom-Design
Description[el]=Θέμα Breath Custom
Description[en_GB]=Breath Custom Theme
Description[es]=Tema Breath Custom
Description[et]=Breath Custom teema
Description[fi]=Breath Custom-teema
Description[fr]=Thème Breath Custom
Description[gl]=Tema Breath Custom
Description[he]=ערכת הנושא Breath Custom
Description[hu]=Breath Custom téma
Description[id]=Tema Breath Custom
Description[is]=Breath Custom þema
Description[it]=Tema Breath Custom
Description[ja]=Breath Custom テーマ
Description[ko]=Breath Custom 테마
Description[lt]=Breath Custom apipavidalinimas
Description[nb]=Breath Custom-tema
Description[nds]=Breath Custom-Muster
Description[nl]=Thema Breath Custom
Description[nn]=Breath Custom-tema
Description[pl]=Wystrój Breath Custom
Description[pt]=Tema Breath Custom
Description[pt_BR]=Tema Breath Custom
Description[ru]=Тема «Breath Custom»
Description[sr@latin]=Tema Breath Custom
Description[sv]=Breath Custom-tema
Description[tr]=Breath Custom Teması
Description[uk]=Тема «Breath Custom»
Author=David Edmundson, David Linares, Ramon Buldó, Jiri Bartos
Copyright=(c) 2019, David Edmundson, David Linares (Mcder3), Ramon Buldó, Jiri Bartos
License=CC-BY-SA
Type=sddm-theme
Version=0.2.0
Website=https://github.com/manjaro/artwork-breath
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=me@bartosjiri.com
Theme-Id=breathcustom
Theme-API=2.0
